.app-li{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  .app-left-li{
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 36px;
      height: 36px;
    }
  }
  .app-right-li{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    p{
      color: #151515;
      font-size: 16px;
      font-weight: 500;
    }
    p:last-of-type{
      // margin-top: 8px;
      color: #EDEDED;
      color: rgba(177, 177, 177);
      font-size: 12px;
    }
  }
  
}
.app-li-active{
  background-color: #DEDEDE;
}