.app-li{
  width: 90%;
  height: 70px;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  .app-left-li{
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 36px;
      height: 36px;
    }
  }
  .app-right-li{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    p{
      color: #363636;
      font-size: 16px;
      font-weight: 500;
    }
    p:last-of-type{
      // margin-top: 8px;
      color: #363636;
      font-size: 12px;
    }
  }
  
}
.app-li-active{
  background-color: #33FFB5;
}